.drawer {
  position: absolute;
  top: 51px;
  right: 0;
  box-sizing: border-box;
  height: calc(100vh - 50px);
  width: 241px;
  background: #242424;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

.drawer.is-open {
  transform: translateX(0);
}
