.dual-slider-container {
  box-sizing: border-box;
  width: 100%;

  .dual-slider-input {
    box-sizing: border-box;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // min-height: $default-height;
    display: grid;

    // grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    // column-gap: 10px;

    // grid-template-columns: repeat(2, calc(50% - 5px));
    // column-gap: 10px;

    grid-template-columns: 1fr 1fr;
    // column-gap: 10px;

    div {
      box-sizing: border-box;
      min-height: $default-height;
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: $default-height;
    }

    div:nth-child(2) {
      // width: 100%;
      // display: grid;
      // grid-template-columns: 1fr 1fr;

      justify-content: space-between;
      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input {
        width: 39px;
        outline: none;
      }
    }
  }

  .dual-slider-range {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: $default-height;
  }
}
