.app-container {
  width: 100vw;
  height: 100vh;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #242424;
  border-bottom: 1px solid #5b5b5b;

  div {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }

  button {
    height: 30px;
    width: 100px;
    background: rgb(30, 25, 80);
    color: #ffffff;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
  }
}

.drawer {
  position: absolute;
  top: 51px;
  right: 0;
  box-sizing: border-box;
  height: calc(100vh - 50px);
  width: 241px;
  background: #242424;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

.drawer.is-open {
  transform: translateX(0);
}

.drawer-title {
  display: flex;
  align-items: center;
  height: 49px;
  padding-left: 19px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.layout-container {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout-container-body {
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding-bottom: 19px;
}

.layout-container-footer {
  background: #242424;
  box-sizing: border-box;
  width: 100%;
  padding: 19px;
  border-top: 1px solid #5b5b5b;
  button {
    width: 100%;
    display: block;
  }

  button:first-child {
    margin-bottom: 14px;
  }
}

.tabs {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #333333;
  height: 100%;
  width: 100%;
}

.tab-list {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab {
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 42px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #5b5b5b;
  background: #242424;
}

.tab.is-active {
  border-bottom: none;
  background: #333333;
}

.tab-panel {
  @extend .layout-container;
}
